import("data.table")
import("ggplot2")
import("compiler")
import("SingleCellExperiment")
importFrom("graphics", "hist")
importFrom("stats", "as.dist", "coef", "cutree", "hclust", "lm", "na.omit",
    "rnbinom", "rpois", "sd", "dnbinom", "dpois", "qnbinom", "qpois")
importFrom("utils", "write.table")
exportPattern("^[[:alpha:]]+")
